input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
body * {
  font-family: "Circe";
  color: #464646;
}
.container {
  max-width: 1400px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
a,
a:hover {
  text-decoration: none;
}
a:hover {
  color: #6ac187;
}
a,
p {
  color: #707070;
}
.dropdown {
  position: relative;
  z-index: 5;
}
.dropdown:hover .dropdown__body {
  opacity: 1;
  z-index: 6;
  pointer-events: auto;
  transform: translateY(0);
}
.dropdown__top {
  cursor: pointer;
  background: url(../images/arrow_down.svg) no-repeat center right;
  background-size: 12px auto;
  padding: 0 20px 0 0;
}
.dropdown__body {
  position: absolute;
  top: 100%;
  left: auto;
  right: 0;
  text-align: right;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 4px 20px rgba(164, 147, 147, 0.25);
  border-radius: 5px;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translateY(5px);
}
.dropdown__body a {
  padding: 5px 10px;
  white-space: nowrap;
}
.btn__green {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px #00000029;
  border-radius: 30px;
  line-height: 60px;
  color: #fff;
  font-size: 20px;
  background: #6ac187;
  padding: 0 30px;
  cursor: pointer;
  border: 0;
  outline: 0 !important;
}
.btn__green:hover {
  color: #fff;
  background-color: #76d495;
}
.btn__green,
a.register {
  text-transform: uppercase;
}
body {
  padding-top: 110px;
  zoom: 0.8;
}
@media (max-width: 1299px) {
  body {
    zoom: 1;
  }
}
@media (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}
body.open__menu {
  height: 100vh;
  overflow: hidden;
}
body.open__menu .mobile__sidebar {
  background: #fff9dc url(../images/bc__main.png) no-repeat right bottom;
  background-size: cover;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.6s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header {
  box-shadow: 0 4px 10px #0000001a;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 4;
  background: rgba(255, 255, 255, 0.98);
  padding: 12px 0;
  height: 110px;
}
@media (max-width: 767px) {
  header {
    padding: 8px 0 7px;
    height: 60px;
  }
}
header .container {
  max-width: 1640px;
}
header .hdr__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hdr__main .logo {
  display: block;
}
@media (max-width: 1299px) {
  header .hdr__main .logo {
    margin-right: auto;
  }
}
header .hdr__main .logo img {
  width: 100%;
  max-width: 160px;
}
@media (max-width: 767px) {
  header .hdr__main .logo img {
    max-width: 85px;
  }
}
header .hdr__main ul {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
header .hdr__main ul li {
  margin: 0 15px;
}
header .hdr__main ul li a {
  font-size: 20px;
  line-height: 25px;
}
.btn__green,
a.more,
a.register,
header .hdr__main ul li a.active {
  font-weight: 700;
}
header .hdr__main .lang {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #464646;
  border-radius: 50%;
  flex-direction: column;
  overflow: hidden;
  margin-right: 30px;
  flex: 0 0 60px;
}
@media (max-width: 767px) {
  header .hdr__main .lang {
    flex: 0 0 40px;
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }
}
.mobile__sidebar,
header .hdr__main .lang:hover a.active,
header .hdr__main .lang:hover a.active + a {
  transform: translateY(-100%);
}
@media (max-width: 1299px) {
  header .hdr__main .lang a.active {
    display: none !important;
  }
}
header .hdr__main .lang a {
  line-height: 60px;
  width: 60px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-size: 24px;
}
@media (max-width: 1299px) {
  header .hdr__main .lang a {
    transform: translateY(0) !important;
  }
}
@media (max-width: 767px) {
  header .hdr__main .lang a {
    line-height: 40px;
    width: 40px;
    font-size: 13px;
  }
}
header .hdr__main a.cart {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px #00000029;
  border-radius: 50%;
  margin-right: 90px;
  flex: 0 0 60px;
  position: relative;
}
header .hdr__main a.cart[data-product-cart]:after {
  content: attr(data-product-cart);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 34px;
  height: 34px;
  background-color: #707070;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  header .hdr__main a.cart[data-product-cart]:after {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
  header .hdr__main a.cart {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }
}
a,
header .hdr__main a.cart svg path {
  transition: all 0.3s;
}
header .hdr__main a.cart:hover {
  background-color: rgba(240, 240, 240, 0.8);
}
header .hdr__main a.cart:hover svg path {
  fill: #000;
}
header .hdr__main a.register {
  margin-left: 30px;
}
header .hamburger {
  display: none;
}
.mobile__sidebar .close svg,
header .hamburger svg {
  width: 60px;
  height: auto;
}
@media (max-width: 767px) {
  header .hamburger svg {
    width: 35px;
  }
}
@media (max-width: 1299px) {
  header .hamburger {
    display: block;
  }
}
.mobile__sidebar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff9dc url(../images/bc__main.png) no-repeat right bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.6s;
  padding: 60px 30px 30px;
  height: 100vh;
}
.mobile__sidebar .close {
  position: absolute;
  right: 30px;
  top: 30px;
}
@media (max-width: 767px) {
  .mobile__sidebar .close svg {
    width: auto;
  }
}
.mobile__sidebar ul {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .mobile__sidebar ul {
    width: 100%;
  }
}
.mobile__sidebar ul li {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .mobile__sidebar ul li {
    margin-bottom: 20px;
  }
}
.mobile__sidebar ul li a {
  font-size: 60px;
}
@media (max-width: 1299px) {
  .mobile__sidebar ul li a.active {
    font-weight: 700;
  }
}
@media (max-width: 991px) {
  .mobile__sidebar ul li a {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar ul li a {
    font-size: 35px;
    line-height: 44px;
  }
}
.mobile__sidebar .btn__green {
  font-size: 40px;
  margin-bottom: 30px;
  min-width: 400px;
  height: 80px;
}
@media (max-width: 991px) {
  .mobile__sidebar .btn__green {
    font-size: 30px;
    height: 60px;
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar .btn__green {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.mobile__sidebar .register {
  font-size: 40px;
}
@media (max-width: 991px) {
  .mobile__sidebar .register {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .mobile__sidebar .register {
    font-size: 20px;
    line-height: 25px;
  }
}
section {
  padding: 70px 0;
}
@media (max-width: 1299px) {
  section {
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  section {
    padding: 30px 0;
  }
}
section.general {
  padding: 80px 0 100px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 767px) {
  section.general {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
section.general h1 {
  text-shadow: 0 2px 3px #29ca5f26;
  color: #6ac187;
  font-size: 100px;
  line-height: 1.1;
  margin-bottom: 10px;
  font-weight: 900;
}
@media (max-width: 1299px) {
  section.general h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  section.general h1 {
    font-size: 45px;
  }
}
.mobile__sidebar,
footer .row,
section.general .row {
  align-items: center;
}
@media (max-width: 1299px) {
  section.general .row {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
}
section.general .row img {
  max-width: 100%;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 767px) {
  section.general .row img {
    height: 220px;
    width: 220px;
    max-width: 220px;
  }
}
section.general .row p {
  font-size: 47px;
  line-height: 55px;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  section.general .row p {
    font-size: 22px;
    line-height: 25px;
  }
}
section.general .btn__green {
  font-size: 35px;
  min-width: 300px;
  text-transform: initial;
}
@media (max-width: 767px) {
  section.general .btn__green {
    font-size: 25px;
  }
}
h1,
h2 {
  font-weight: 800;
}
h1 {
  color: #464646;
  text-shadow: 0 2px 3px #29ca5f26;
  margin-bottom: 60px;
  font-size: 83px;
  line-height: 92px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 63px;
    margin-bottom: 20px;
  }
}
h2 {
  font-size: 45px;
  line-height: 57px;
  padding-bottom: 7px;
  border-bottom: 2px solid #464646;
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 35px;
    line-height: 44px;
  }
}
section.product__main {
  padding-bottom: 200px;
  position: relative;
  background: url(../images/bc__soki.svg) no-repeat center left;
  background-size: cover;
}
@media (max-width: 767px) {
  section.product__main {
    padding-bottom: 130px;
  }
}
section.product__main .row {
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 110px;
}
@media (max-width: 1299px) {
  section.product__main .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
section.product__main .row > div {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1299px) {
  section.product__main .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}
section.product__main .card,
section.product__main.product__pages .card {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  section.product__main .card {
    margin-bottom: 100px;
  }
}
section.product__main.product__pages {
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  section.product__main.product__pages {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  section.product__main.product__pages .card {
    margin-bottom: 100px;
  }
}
section.product__main .card {
  border: 0;
  border-radius: 0;
}
section.product__main .card .card-img-top {
  height: 284px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  overflow: hidden;
  border-radius: 61px;
  margin-bottom: 30px;
}
@media (max-width: 1299px) {
  section.product__main .card .card-img-top {
    height: 200px;
  }
}
@media (max-width: 991px) {
  section.product__main .card .card-img-top {
    height: 280px;
  }
}
@media (max-width: 767px) {
  section.product__main .card .card-img-top {
    margin-bottom: 20px;
  }
}
section.product__main .card .card-title {
  font-size: 32px;
  line-height: 37px;
  min-height: 74px;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  section.product__main .card .card-title {
    font-size: 28px;
    margin-bottom: 10px;
    min-height: inherit;
  }
}
.payment__main .form__style .form-group.hasTextarea label,
.payment__main .payment__left ul li,
section.cart table,
section.product__main .card .btn__green {
  width: 100%;
}
@media (max-width: 767px) {
  section.product__main .card .btn__green {
    font-size: 32px;
  }
}
section.product__main .card .btn__green img {
  margin-right: 30px;
}
section.product__main .text {
  margin-bottom: 70px;
}
section.product__main p {
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 40px;
  max-width: 80%;
  color: #707070;
}
section.product__main p.composition__product {
  font-size: 18px;
  line-height: 26px;
}
@media (max-width: 991px) {
  section.product__main p {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  section.product__main p {
    font-size: 20px;
    line-height: 29px;
  }
}
a.more {
  background-color: #dbdbdb;
  line-height: 60px;
  display: inline-block;
  padding: 0 40px;
  font-size: 32px;
  border-radius: 30px;
}
@media (max-width: 767px) {
  a.more {
    font-size: 25px;
    box-shadow: 0 1px 6px #00000014;
    width: 100%;
    text-align: center;
    border-radius: 51px;
  }
}
footer {
  background: url(../images/bc__main.png) no-repeat center;
  background-size: cover;
  padding: 50px 0;
}
@media (max-width: 991px) {
  footer {
    text-align: center;
  }
}
footer h4,
footer ul li {
  color: #707070;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 32px;
}
@media (max-width: 991px) {
  footer ul {
    margin-bottom: 50px;
  }
}
footer ul li {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 25px;
}
footer ul li:last-child {
  margin-bottom: 0;
}
footer ul li a {
  font-size: 20px;
}
footer .social {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  footer .social {
    margin-bottom: 0;
  }
}
footer .social a {
  display: inline-block;
  margin: 0 10px;
}
.cart__count button svg circle,
footer .social a svg path {
  transition: all 0.15s;
}
footer .social a:hover svg path {
  fill: #000;
}
footer .social a.instagramm:hover svg path {
  fill: none;
  stroke: #000;
}
.errored,
.success,
section.about h1 {
  position: relative;
}
section.about h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-40%, -30%);
  background: #fff9f2;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  z-index: -1;
}
@media (max-width: 767px) {
  section.about h1:after {
    width: 400px;
    height: 400px;
    transform: translate(-80%, 10%);
  }
}
section.about p {
  font-size: 35px;
  line-height: 52px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section.about p {
    font-size: 20px;
    line-height: 29px;
  }
}
section.contact .row {
  margin-left: -80px;
  margin-right: -80px;
}
section.contact .row > div {
  padding-left: 80px;
  padding-right: 80px;
}
section.contact .contact_right p {
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 44px;
  display: flex;
}
@media (max-width: 767px) {
  section.contact .contact_right p {
    font-size: 20px;
    line-height: 32px;
  }
}
section.contact .contact_right p b {
  font-weight: 700;
  padding-right: 10px;
}
.form__style .form-group {
  margin-bottom: 20px;
}
.form__style .form-group.bord,
.form__style textarea {
  padding: 20px;
  border: 2px solid #707070;
  border-radius: 35px;
}
.form__style .form-group.bord {
  height: 70px;
}
@media (max-width: 767px) {
  .form__style .form-group.bord {
    height: 60px;
  }
}
.form__style .form-group label {
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 22px;
  line-height: 32px;
  color: #707070;
  font-weight: 400;
  padding-right: 10px;
}
@media (max-width: 767px) {
  .form__style .form-group label {
    font-size: 16px;
    line-height: 22px;
  }
}
.form__style .btn__green {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
@media (max-width: 767px) {
  .form__style .btn__green {
    width: 100%;
    margin-bottom: 50px;
    line-height: 50px;
    font-size: 18px;
  }
}
.form__style input {
  width: 100%;
  height: 32px;
  border: 0;
  font-weight: 700;
  font-size: 22px;
  box-shadow: none;
  outline: 0;
  background: 0 0;
}
@media (max-width: 767px) {
  .form__style input {
    height: 22px;
    font-size: 16px;
  }
}
.form__style textarea {
  align-items: center;
  width: 100%;
  min-height: 180px;
  resize: none;
  outline: 0;
  font-size: 22px;
  line-height: 32px;
}
@media (max-width: 767px) {
  .form__style textarea {
    font-size: 16px;
    line-height: 22px;
    min-height: 200px;
  }
}
.errored:after,
.success:after {
  content: "";
  width: 35px;
  height: 35px;
  display: block;
  position: absolute;
  right: -10px;
  top: 17.5px;
  transform: translate(100%, 0%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 767px) {
  .errored:after,
  .success:after {
    width: 24px;
    height: 24px;
    right: -5px;
    top: 12px;
  }
}
.success:after {
  background-image: url(../images/success.svg);
}
.errored:after {
  background-image: url(../images/error.svg);
}
section.cart table thead th {
  border: 0;
  color: #707070;
  font-size: 32px;
  line-height: 41px;
}
@media (max-width: 767px) {
  section.cart table thead th {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
  }
  section.cart table thead th:nth-child(2),
  section.cart table thead th:nth-child(4) {
    display: none !important;
  }
}
section.cart table tbody td,
section.cart table thead th {
  padding: 10px 0;
  border-bottom: 2px solid #e5e5e5;
}
@media (max-width: 767px) {
  section.cart table tbody td:nth-child(2),
  section.cart table tbody td:nth-child(4) {
    display: none !important;
  }
}
.form__style .form-group.bord,
section.cart table .cart__name {
  display: flex;
  align-items: center;
}
section.cart table .cart__name img {
  flex: 0 0 200px;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  margin-right: 24px;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 1299px) {
  section.cart table .cart__name img {
    width: 120px;
    height: 120px;
    flex: 0 0 120px;
  }
}
@media (max-width: 767px) {
  section.cart table .cart__name img {
    width: 65px;
    height: 65px;
    flex: 0 0 65px;
    border-radius: 16px;
  }
}
section.cart table .cart__name .text h4 {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 25px;
  font-weight: 700;
}
@media (max-width: 767px) {
  section.cart table .cart__name .text h4 {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
  }
}
section.cart table .cart__name .text a {
  font-size: 32px;
  text-decoration: underline;
  text-underline-position: under;
}
@media (max-width: 767px) {
  section.cart table .cart__name .text a {
    font-size: 16px;
    line-height: 1;
  }
}
.cart__count input,
section.cart table .cart__price,
section.cart table tbody td {
  font-size: 30px;
  line-height: 37px;
}
@media (max-width: 767px) {
  section.cart table .cart__price {
    font-size: 16px;
    line-height: 1;
  }
}
section.cart table .d-sm-none {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 8px;
}
.cart__count {
  border-radius: 40px;
  border: 1px solid #464646;
  height: 80px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
@media (max-width: 1299px) {
  .cart__count {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  .cart__count {
    height: 40px;
  }
}
.cart__count button {
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}
@media (max-width: 767px) {
  .cart__count button {
    display: none !important;
  }
}
.cart__count button:hover svg circle {
  fill: #000 !important;
}
.cart__count input {
  border: 0;
  min-width: inherit;
  max-width: 70px;
  text-align: center;
  letter-spacing: 0.54px;
  outline: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .cart__count input {
    font-size: 18px;
    line-height: 22px;
  }
  .empty__cart {
    margin-bottom: 3f0px;
  }
}
.empty__cart p {
  font-size: 30px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .empty__cart p {
    font-size: 18px;
  }
}
.empty__cart a {
  font-size: 34px;
}
@media (max-width: 767px) {
  .empty__cart a {
    font-size: 18px;
  }
}
.total__cart {
  text-align: right;
  margin-top: 50px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .total__cart {
    text-align: left;
    margin-top: 20px;
    padding-bottom: 50px;
  }
}
.total__cart p {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #464646;
  padding-right: 50px;
}
@media (max-width: 767px) {
  .total__cart p {
    font-size: 16px;
    line-height: 19px;
  }
}
.total__cart p span {
  padding-right: 34px;
  color: #707070;
  font-weight: 400;
}
@media (max-width: 767px) {
  .total__cart p span {
    padding-right: 10px;
  }
}
.total__cart .btn__green {
  min-width: 300px;
}
@media (max-width: 767px) {
  .total__cart .btn__green {
    min-width: 100%;
  }
}
body.register {
  padding-top: 0;
}
.circle {
  width: 564px;
  height: 562px;
  background: #fff3e5;
  position: absolute;
  top: 50px;
  border-radius: 50%;
  left: 0;
  transform: translateX(-50%);
  opacity: 0.7;
  z-index: -1;
}
.send__again,
section.register {
  align-items: center;
  justify-content: center;
}
section.register {
  min-height: 100vh;
  display: flex;
}
@media (max-width: 767px) {
  section.register {
    min-height: inherit;
    padding-top: 50px;
  }
}
section.register .subtitle {
  font-size: 32px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  section.register .subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
}
section.register .subtitle a {
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-position: under;
}
.send__again {
  display: inline-flex;
  border-radius: 30px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 700;
  padding: 0 30px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  border: 0;
  outline: 0 !important;
}
@media (max-width: 767px) {
  .send__again {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 50px;
    padding-left: 0;
  }
}
.forget__password {
  color: #2e96ff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;
  outline: 0 !important;
}
@media (max-width: 767px) {
  .forget__password {
    font-size: 15px;
  }
}
.to__register {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  cursor: pointer;
  line-height: 60px;
  padding: 0 30px;
  outline: 0 !important;
  min-width: 230px;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .to__register {
    width: 100%;
    min-width: inherit;
  }
}
.checkbox__style {
  position: relative;
}
@media (max-width: 767px) {
  .checkbox__style.privacy__block {
    margin-top: 0 !important;
  }
}
.checkbox__style input,
.day__delivery .checkboxes input {
  display: none;
}
.checkbox__style input:checked + label:after {
  background-size: 14px auto;
}
.checkbox__style label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
}
.checkbox__style label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #707070;
  border-radius: 5px;
  background: url(../images/check.svg) no-repeat center;
  background-size: 0;
}
.checkbox__style label a {
  color: #2e96ff;
  font-weight: 600;
  text-decoration: underline !important;
  text-underline-position: under;
}
.register__form .form-group {
  margin-bottom: 15px;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 70px;
}
@media (max-width: 767px) {
  .register__form .form-group {
    height: 50px;
    margin-bottom: 20px !important;
  }
}
.register__form .btn__green {
  min-width: 250px;
}
.register__form .checkbox__style {
  margin-top: 20px;
}
.register__form .row {
  margin-left: -8px;
  margin-right: -8px;
}
.register__form .row > div {
  padding-left: 8px;
  padding-right: 8px;
}
section.payment {
  padding-bottom: 200px;
  position: relative;
  background: url(../images/bc__soki.svg) no-repeat center left;
  background-size: cover;
}
@media (max-width: 767px) {
  section.payment {
    padding-bottom: 130px;
  }
}
.payment__main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .payment__main {
    flex-direction: column-reverse;
  }
}
.payment__main h2 {
  font-size: 25px;
  line-height: 2;
  margin-bottom: 20px;
  border: 0;
  padding: 0;
  color: #707070;
}
.payment__main .form__style input[type="date"] {
  position: relative;
  width: 100%;
}
.payment__main
  .form__style
  input[type="date"]::-webkit-calendar-picker-indicator {
  background-position: right center;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.payment__main .form__style .form-group {
  display: flex;
  align-items: center;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 20px;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group {
    padding: 10px;
  }
}
.payment__main .form__style .form-group.hasTextarea {
  flex-wrap: wrap;
}
.payment__main .form__style .form-group.hasTextarea textarea {
  border: 0;
  width: 100%;
  min-height: 200px;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  padding: 0;
  border-radius: 0;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group.hasTextarea textarea {
    font-size: 16px;
    line-height: 1.4;
    height: auto;
  }
}
.payment__main .form__style .form-group select {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 767px) {
  .payment__main .form__style .form-group select {
    font-size: 16px;
  }
}
.payment__main .payment__left {
  width: 100%;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .payment__main .payment__left {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .payment__main .payment__left .pt-5 {
    padding-top: 15px !important;
  }
}
.payment__main .payment__left ul {
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
.payment__main .payment__left ul li:first-child a {
  border-radius: 10px 0 0 10px;
}
.payment__main .payment__left ul li a {
  font-size: 32px;
  line-height: 60px;
  font-weight: 700;
  box-shadow: 0 2px 4px #00000029;
  border-radius: 0 10px 10px 0;
  color: #bebebe;
  display: block;
  text-align: center;
  background-color: #e5e5e5;
}
@media (max-width: 767px) {
  .payment__main .payment__left ul li a {
    font-size: 20px;
  }
}
.payment__main .payment__left ul li a.active {
  color: #fff;
  background-color: #f89521;
  box-shadow: inset 0 3px 6px #00000029;
}
.payment__main .payment__right {
  flex: 0 0 475px;
  min-width: 475px;
  padding: 50px 30px;
  background-color: #fafafa;
}
@media (max-width: 767px) {
  .payment__main .payment__right {
    padding: 20px 10px;
    min-width: inherit;
    flex: 0 0 auto;
  }
}
.product__payments {
  position: sticky;
  top: 130px;
}
.product__payments .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .product__payments .item {
    padding-bottom: 20px;
  }
}
.product__payments .item .img {
  width: 90px;
  height: 90px;
  flex: 0 0 90px;
  margin-right: 15px;
  position: relative;
}
@media (max-width: 767px) {
  .product__payments .item .img {
    width: 60px;
    height: 60px;
    flex: 0 0 60px;
    margin-right: 10px;
  }
}
.product__payments .item .img[data-count-product]:after {
  content: attr(data-count-product);
  position: absolute;
  top: -10px;
  right: -10px;
  width: 34px;
  height: 34px;
  background-color: #707070;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .product__payments .item .img[data-count-product]:after {
    width: 20px;
    height: 20px;
    font-size: 14px;
  }
}
.product__payments .item .img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .product__payments .item .img img {
    border-radius: 16px;
  }
}
.product__payments .item h3 {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 0;
  margin-right: auto;
}
@media (max-width: 767px) {
  .product__payments .item h3 {
    font-size: 16px;
    line-height: 1.2;
  }
}
.product__payments .item .price {
  padding-left: 20px;
}
.product__payments .item .price p {
  font-size: 21px;
  line-height: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .product__payments .item .price p {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
  }
}
.product__payments .item .price .cart__count {
  zoom: 0.7;
}
.product__payments .total {
  padding: 20px 0;
  border-top: 1px solid #707070;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__payments .total b,
.product__payments .total span {
  font-size: 21px;
  line-height: 27px;
}
.product__payments .total b {
  font-weight: 700;
}
.day__delivery {
  margin-bottom: 50px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .day__delivery {
    margin-bottom: 20px;
  }
}
.day__delivery .checkboxes {
  display: flex;
  flex-wrap: wrap;
}
.day__delivery .checkboxes input:checked + label {
  background: #f89525;
  box-shadow: inset 0 3px 6px #00000029;
  color: #fff;
}
.day__delivery .checkboxes label {
  cursor: pointer;
  background: #e5e5e5;
  padding: 10px;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 10px;
  font-size: 17px;
  line-height: 25px;
  margin-right: 15px;
  min-width: 100px;
  text-align: center;
  margin-bottom: 15px;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .day__delivery .checkboxes label {
    font-size: 16px;
    line-height: 20px;
    min-width: 80px;
    margin-right: 10px;
  }
}
.day__delivery .checkboxes label:last-child {
  margin-right: 0;
}
.accordion * {
  font-size: 17px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .accordion * {
    font-size: 15px;
    line-height: 20px;
  }
}
.accordion .btn__green {
  line-height: 60px;
  min-width: 290px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .accordion .btn__green {
    min-width: 100%;
    font-size: 16px;
    line-height: 50px;
  }
}
.accordion .card {
  margin-bottom: 20px;
  border: 2px solid #e5e5e5 !important;
  border-radius: 10px !important;
}
.accordion .card:last-child {
  margin-bottom: 0;
}
.accordion .card .card-header {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  margin: 0;
}
@media (max-width: 767px) {
  .accordion .card .card-header {
    padding: 10px;
  }
}
.accordion .card .card-header.collapsed .arrow {
  transform: rotate(-90deg);
}
.accordion .card .card-header .arrow {
  transition: all 0.3s;
  margin-right: 12px;
  transform: rotate(0deg);
}
.accordion .card .card-header .time {
  margin-right: auto;
}
.accordion .card .card-header .status,
.accordion .card .card-header .time {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
}
.accordion .card .card-header .status .status__active {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: #6ac187;
}
.accordion .card .card-header .status .status__cancelled {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: #f04f63;
}
.accordion .card .card-header .status .status__stopped {
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;
  color: #f89521;
}
.accordion .card .card-header .change {
  font-size: 17px;
  line-height: 25px;
  color: #2e96ff;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .accordion .card .card-header .change {
    font-size: 15px;
  }
}
.accordion .card .card-body {
  padding: 15px 20px;
}
@media (max-width: 767px) {
  .accordion .card .card-body {
    padding: 15px 10px;
  }
}
.accordion .card .card-body .information {
  margin-bottom: 10px;
}
.accordion .card .card-body .information span {
  min-width: 75px;
  padding-right: 10px;
  display: inline-block;
}
@media (max-width: 767px) {
  .accordion .card .card-body .information span {
    display: block;
  }
}
#myTabProfile {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  #myTabProfile {
    margin-bottom: 0;
  }
}
#myTabProfile li {
  margin-right: 40px;
}
@media (max-width: 767px) {
  #myTabProfile li {
    width: 50%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
#myTabProfile li a {
  font-size: 17px;
  line-height: 25px;
  border-bottom: 1px solid transparent;
}
@media (max-width: 767px) {
  #myTabProfile li a {
    font-size: 15px;
  }
}
#myTabProfile li a.active {
  color: #6ac187;
  border-bottom-color: #6ac187;
}
.card-body.hist {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .card-body.hist {
    flex-direction: column-reverse;
  }
}
.card-body .card__left {
  padding-top: 15px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .card-body .card__left {
    padding-top: 0;
    padding-right: 0;
  }
}
.card-body .card__left h5 {
  margin-bottom: 10px;
  text-decoration: underline;
  color: #464646;
  font-weight: 700;
}
.card-body .card__left .row > div:first-child,
.card-body .card__left .row > div:nth-child(2) {
  margin-bottom: 95px;
}
@media (max-width: 991px) {
  .card-body .card__left .row > div:first-child,
  .card-body .card__left .row > div:nth-child(2) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .card-body .card__left .row > div:nth-child(3) {
    margin-bottom: 30px;
  }
}
.card-body .card__left .row p {
  font-weight: 700;
  color: #464646;
}
.card-body .card__left .row p span {
  display: inline-block;
  min-width: 120px;
  font-weight: 400;
  color: #707070;
}
@media (max-width: 767px) {
  .card-body .card__left .row p span {
    min-width: inherit;
    padding-right: 10px;
  }
}
.card-body .card__right {
  padding-left: 20px;
  border-left: 1px solid #e5e5e5;
  min-width: 440px;
}
@media (max-width: 991px) {
  .card-body .card__right {
    border-left: 0;
    padding-left: 0;
    min-width: 100%;
  }
}
.card-body .card__right .product__payments {
  position: static;
  padding-top: 30px;
}
.change__history__orders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  .change__history__orders {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.change__history__orders a {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 32px;
  border-radius: 10px;
  border: 0;
  width: 100%;
}
@media (max-width: 767px) {
  .change__history__orders a {
    height: 50px;
    margin-bottom: 10px;
  }
}
.change__history__orders a:hover {
  opacity: 0.8;
}
.change__history__orders a.disabled {
  background-color: #e5e5e5 !important;
  color: #bebebe !important;
}
.change__history__orders a.disabled:hover {
  opacity: 1;
}
.change__history__orders .stopped {
  background-color: #f89521;
  color: #fff;
}
.change__history__orders .cancel {
  background-color: #f04f63;
  color: #fff;
}
.change__history__orders .delete__orders__history {
  background-color: #f04f63;
  color: #fff;
  max-width: 90px;
}
@media (max-width: 767px) {
  .change__history__orders .delete__orders__history {
    max-width: 35%;
  }
}
.change__history__orders .delete__orders__history svg path {
  stroke: #fff;
}
.change__history__orders .reload {
  background-color: #6ac187;
  color: #fff;
}
.change__history__orders > a:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .change__history__orders > a:nth-child(2) {
    max-width: calc(65% - 10px);
    margin-left: 0;
    margin-right: 0;
  }
}
.myPagination {
  margin-top: 40px;
  margin-bottom: 50px;
}
.myPagination ul li {
  margin-right: 10px;
}
.myPagination ul li:last-child a,
.myPagination ul li:nth-child(1) a {
  background-color: #e5e5e5;
}
.myPagination ul li:last-child a:hover,
.myPagination ul li:nth-child(1) a:hover {
  opacity: 0.8;
}
.myPagination ul li a,
section.thank {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.myPagination ul li a {
  background: #fff;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  opacity: 1;
  font-size: 18px;
  color: #707070;
  font-weight: 600;
  display: inline-flex;
  width: 33px;
  height: 33px;
}
.myPagination ul li a:hover {
  background-color: #e5e5e5;
}
.change__profile__area {
  max-width: 770px;
  padding: 30px 50px;
}
@media (max-width: 767px) {
  .change__profile__area {
    padding: 0;
  }
}
.change__profile__area h3 {
  font-size: 25px;
  line-height: 2;
  margin-bottom: 20px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .change__profile__area h3 {
    font-size: 22px;
    line-height: 32px;
  }
}
.change__profile__area .form-group {
  margin-bottom: 30px;
  border: 2px solid #707070;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 70px;
}
@media (max-width: 767px) {
  .change__profile__area .form-group {
    padding: 0 10px;
    height: 50px;
  }
}
section.thank {
  position: relative;
  background: url(../images/bc__soki.svg) no-repeat center left;
  background-size: cover;
  display: flex;
  min-height: 800px;
}
@media (max-width: 1700px) {
  section.thank {
    min-height: 500px;
  }
}
@media (max-width: 1299px) {
  section.thank {
    min-height: calc(100vh - 432px);
  }
}
@media (max-width: 991px) {
  section.thank {
    min-height: calc(100vh - 492px);
  }
}
@media (max-width: 767px) {
  section.thank {
    min-height: calc(100vh - 467px);
  }
}
section.thank a,
section.thank h1 {
  text-decoration: underline;
  text-underline-position: under;
}
section.thank h1 {
  text-shadow: 0 2px 3px #29ca5f26;
  line-height: 1.1;
  font-weight: 900;
  margin-bottom: 46;
  color: #6ac187;
  font-size: 100px;
}
@media (max-width: 1299px) {
  section.thank h1 {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  section.thank h1 {
    font-size: 32px;
  }
}
.register__user,
section.thank a {
  display: inline-flex;
  align-items: center;
}
section.thank a {
  color: #2e96ff;
  justify-content: center;
  cursor: pointer;
  outline: 0 !important;
  font-size: 27px;
}
@media (max-width: 767px) {
  section.thank a {
    font-size: 15px;
  }
}
.register__user {
  font-size: 24px;
}
